<div class="hero" id="home">
  <div class="hero__container">
    <div class="hero__heading">ESCOLHA SEU <span>CHOPP</span></div>
    <p class="hero__description">A bebida perfeita pra você</p>
    <button class="main__btn"><a href="#">Conheça</a></button>
  </div>
</div>
