<div class="products" id="products">
  <h1>Our products</h1>
  <div class="products__wrapper">
    <div class="products__card">
      <h2>IPA</h2>
      <p>AI pwer</p>
      <button class="products__btn"><a href="#">Explore</a></button>
    </div>
    <div class="products__card">
      <h2>APA</h2>
      <p>AI pwer</p>
      <button class="products__btn"><a href="#">Explore</a></button>
    </div>
    <div class="products__card">
      <h2>STOUT</h2>
      <p>AI pwer</p>
      <button class="products__btn"><a href="#">Explore</a></button>
    </div>
    <div class="products__card">
      <h2>STOUT</h2>
      <p>AI pwer</p>
      <button class="products__btn"><a href="#">Explore</a></button>
    </div>
  </div>
</div>
