.main {
  background-color: #222;
  padding: 8rem 0;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content {
  color: antiquewhite;
  width: 100%;
}

.main__content h1 {
  font-size: 2rem;
  background: #e67fd4;
  background-image: linear-gradient(to bottom, #EB5757, #e67fd4);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
  font-size: 2rem;
  color: antiquewhite;
}

.main__content p {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 700;
}

.main__btn {
  font-size: 1.8rem;
  background: #e67fd4;
  background: -webkit-linear-gradient(to bottom, #EB5757, #e67fd4);
  background: linear-gradient(to bottom, #EB5757, #e67fd4);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position:relative;
  transition: all 0.3s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position:absolute;
  content: '';
  top: 0;
  width: 0;
  left: 0;
  height: 100%;
  background-color: #e67fd4;
  transition: all 0.3s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width:100%;
}

.main__image--container {
  text-align: center;
}

.main__image--card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: #d53369;
  background: -webkit-radial-gradient(#d53369, #4b134f);
  background: radial-gradient(#d53369, #4b134f);
}

.fa-layer-group, .fa-users {
  font-size: 14rem;
  color: antiquewhite;
}

#card-2 {
  background: #e67fd4;
  background: -webkit-linear-gradient(to bottom, #EB5757, #e67fd4);
  background: linear-gradient(to bottom, #EB5757, #e67fd4);
}

/* Mobile responsiveness */
@media screen and (max-width: 1100px){
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    height: 90%;
  }

  .main__image--container {
    display: flex;
    justify-content: center;
  }

  .main__image--card {
    height: 425px;
    width: 425px;
  }

  .main__container {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__image--card {
    width: 250px;
    height: 250px;
  }

  .fa-layer-group, .fa-users {
    font-size: 4rem;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 1rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}